html{
    scroll-behavior: smooth;
}
*{
    margin:0;
    padding: 0;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family:"roboto", sans-serif;

}

:root{
    --bg-color:#0d314b;
    --second-bg-color:#0099ff;
    --text-color:#ededed;
    --main-color:#4a5154;

}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
.header{
    position:fixed;
    justify-content: space-around;
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: var(--bg-color);
    padding: auto;
    z-index: 2;
}

nav a{
    text-decoration: none;
    color: var(--text-color);
    padding: 8px;
    font-size: 1.2rem;
    transition: .5s;
}
nav a:hover{
    color: var(--main-color);
    transition: .3s;
}

section{
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.home{
    display:flex;
    padding: 0 9%;
    align-items: center;
    background-size: cover;
    background-position: center;

}
.home-content{
    max-width:60rem;
    width: 50%;
}
.home-content h1{
    line-height: 1.5;
    font-size: 3rem;
   
}
.home-content h1>span{
    color: var(--second-bg-color);
    
}

.home-content h3{
    position: relative;
    font-size: 2.2rem;
    line-height:1.5 ;
   
}
.home-content p{
    font-size:1.5rem;
}
.btn-box{
    padding-top: 1rem;
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 4rem;
  
   

}
.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 100%;
    background-color: var(--bg-color);
    font-size: 1.9rem;
    border: .2rem solid var(--main-color);
    border-radius:.8rem;
    font-size: 20px;
    color: var(--second-bg-color);
    transition: .5s;
    border: .2rem solid var(--second-bg-color);
    margin: 1rem;
    transition: .5s;
    
}
.btn-box a:hover {
    background-color: var(--second-bg-color);
    color: var(--text-color);  
    

}
.home-sci{
    
    position: absolute;
    bottom: 4rem;
    width:170px;
    display: flex;
    justify-content: space-between;
    margin-left: 9%;
    transition: 1s;
    
    
}
.home-sci a{
    display: inline-flex;
    position: relative;
    z-index: -1;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    font-size: 40px;
    color: var(--text-color);
    overflow: hidden;
    transition: .7s;
    z-index: 1;
   
   
}
.home-sci a:hover{
    background-color: var(--second-bg-color);
    color: var(--text-color);
}
.home-imgHover{
    margin: 50px;
    margin-left: 20%;
    position: relative;
    display: inline-flex;
    width: 100%;
    height:500px;
    border: .2rem solid var(--text-color);
    border-radius: 50%;
    overflow: hidden;
    transition: 1.5s;
}
.home-imgHover img{
    width: 100%;
  opacity: 0.7;
  border-radius: 50%;
}
.home-imgHover img:hover{
    opacity: 1;
}

.about{
    display:flex;
    padding: 0 9%;
    background-size: cover;
    background-position: center;

}
.about .about-content{
    margin-top: 5%;
}
.about-content h1{
    font-size: 3rem;
    color: var(--second-bg-color);
}
.about-content .content{
    margin-top: 2rem;
    position: absolute;
    border: 2px solid var(--text-color);
    padding: 20px;
    width: 1200px;
    height:auto;
    border-radius: 10px;

}
.about-content .content p{
    font-size: x-large;
    position: relative;
    line-height: 50px;
}
.skills{
    justify-content: center;
    display:flex;
    padding: 0 9%;
    background-size: cover;
    background-position: center;

}
.skills .skills-content{
    margin-top: 5%;
    position: absolute;
}
.skills .skills-content h1{
    font-size: 3rem;
    color: var(--second-bg-color);

}
.skills-content .content{
    margin-top: 20px;
    position: relative;
    display:grid;
    grid-template-columns: auto auto auto;
    justify-content: center;

}
.skills-content .content img{
    width: 175px;
    height: 175px;
    margin: 20px;
    padding: 15px;
    border: 2px solid var(--text-color);
    border-radius: 20px;
    transition: .5s;
}
.skills-content .content img:hover{
   box-shadow: 0px 0px 40px;
}

.projects{
    display:flex ;
    padding: 0 9%;
    background-size: cover;
    background-position: center;
}
.projects-content{
    margin-top: 5%;
}

.projects-content h1{
    color: var(--second-bg-color);
    font-size: 3rem;
}
.projects-content .content{
    position:absolute;
    width: 1200px;
    height: 600px;
    padding-bottom: 10px;
   
}
.projects-content .item{
    position: relative;
    width:auto;
    height: auto;
    border: 2px solid var(--text-color);
    border-radius: 1rem;
    margin-top: 1rem;

}
.item h2{
    padding-top: 1rem;
    padding-left:1rem ;
    color: var(--second-bg-color);
}
.item p{
    line-height: 40px;
    padding: 1rem 0 1rem 1.5rem;
    color: var(--text-color);
    font-size:large ;
}
.item h4{
    font-size: large;
    color: var(--text-color);
    padding-left: 1.5rem;
    padding-bottom: 1rem;
}
.item span a{
    color: var(--second-bg-color);
}
.link{
    display: flex;
}

.contact{
    display:flex ;
    padding: 0 9%;
    background-size: cover;
    background-position: center;
    margin-top: 10%;
    justify-content: center;

}
.contact-content{
    position: relative;
    height: 100vh;
    
}
.contact-form{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-content .title h2{
margin-top: 20%;
color: var(--second-bg-color);
font-size: 3rem;
margin-bottom: 5px;
}


.contact-inputs{
    width: 400px;
    height: 50px;
    border:none ;
    outline: none;
    padding-left: 25px;
    font-size: 1rem;
    font-weight: 500;
    color: var(--main-color);
    border-radius: 40px;
}
.contact-form textarea{
    height: 200px;
    padding-top: 15px;
    border-radius: 20px;
}

.contact-inputs::placeholder{
    color: var(--main-color);
}
.contact-content button{
    align-items: center;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-color);
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,var(--second-bg-color),var(--text-color));
    cursor: pointer;

}
.contact-content button:hover{
    box-shadow: 0 2px 10px var(--second-bg-color);
}
.footer{
    padding: 0 9%;
    background-size: cover;
    background-position: center;
    width:1250px;
    height: 200px;
    position: absolute;
    display: flex;
    justify-content: space-evenly;
    background-color:#0b283c;
    
}
.footer .item{
    padding-top: 75px;
    color: var(--text-color);
    position: relative;
    font-weight: 400;
    bottom: 0%;
}






@media (max-width: 768px) {
   
    .header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
        height: 60px;
    }

    nav {
        display: flex;
        width: 30%;
        align-items: flex-start;
        margin-left: 5%;

    }

    nav a {
        width: 50%;
        margin: 10px 0;
    }

    section {
        padding: 5rem 5%;
    }

    .home {
        display: flex;
        flex-wrap:wrap;
        padding: 2rem 5%;
    }
    .logo{
        margin-left: 40%;
    }

    .home-content {
        flex-grow: 1;
        flex-basis: 200;
        margin-top: 10%;
        width: 100%;
        text-align: center;
    }

    .home-content h1 {
        font-size: 2rem;
        width: 57%;
        padding-left: 20%;
        
    }

    .home-content h3 {
        font-size: 1.8rem;
    }

    .home-content p {
        font-size: 1.2rem;
    }

    .btn-box {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .btn-box a {
        width: 40%;
        margin: .5rem 0;
    }

    .home-imgHover {
        width: 100%;
        justify-content: center;
        
        height: auto;
        margin-left: 0;
    }
   

    .about-content .content {
        width: 100%;
        padding: 10px;
        position: relative;
    }
    .about-content h1{
        font-size: 24px;
    }
    .about-content .content p{
        font-size: 20px;
        line-height: 35px;
    }
   
    .skills{
        margin-top: 5%;
    }

    .skills-content .content {
        grid-template-columns: 1fr 1fr;
        
    }
    .skills .skills-content h1{
        font-size: 24px;
    }

    .skills-content .content img {
        width: 100px;
        height: 100px;
        margin: 30px;
    }
    

    .projects .content{
        width: 100%;
        padding: 10px;
        position: relative;

    }
    .projects-content  h1{
        font-size: 24px;
    }
    .projects-content .content .item h2{
        font-size: 20px;
    }
    .contact{
        position: relative;
        margin-top: 600px;
    }
    .contact-content {
        z-index: 1;
        padding: 20px;
        margin-top: 50px;
    }

    .contact-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-form .title h2 {
        font-size: 24px;
    }

    .contact-inputs {
        width: 100%;
        margin-bottom: 10px;
        font-size: 16px;
        padding: 10px;
    }

    .contact-inputs::placeholder {
        font-size: 14px;
    }

    .contact-form button {
        width: 100%;
        font-size: 18px;
        padding: 12px;
    }
    .footer{
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        padding: 2rem 5%;
    }
}
.footer .item{
    flex-grow: 1;
    flex-basis: 200;
    font-size: .9rem;
}
   
